@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&family=Gloria+Hallelujah&display=swap');
@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffaef;
}

.page{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
}

.header{
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #fffaef;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.header a{
    color: #332e33;
    font-size: 2.5em;
    text-align: left;
    text-decoration: none;
    margin-left: 1.5em;
}

.header a i{
    padding-top: 0.2em;
    padding-right: 0.3em;
    font-size: 1.5em;
}

.footer{
    width: 100%;
    color: #332e33;
    background-color: #fffaef;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.footer p{
    margin-left: 3.5em;
    padding: 0.5em 0;
}

.content{
    padding: 1em;
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

@media screen and (max-width: 900px){
    .header{
        flex-direction: column;
        align-items: center;
        padding-top: 1em;
    }
    .header a{
        font-size: 2em;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (min-width: 901px){
    .fa-paw{
        margin-right: 0.5em;
    }
}

