@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Slab&family=Pacifico&display=swap');
@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

.content{
    display: flex;
    align-items: center;
}

.images{
    padding: 3em 2em;
    display: flex;
    width: 40vw;
    flex-wrap: wrap;
}

.text{
    width: 50vw;
    font-family: 'Josefin Slab', serif;
    font-size: 2em;
    color: #6b4949;
    line-height: 1.2em;
    align-items: center;
}

.site-name{
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

.mobile-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 1em 0;
}

.mobile-buttons a{
    background-color: #6b4949;
    color: #fffaef;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    margin: 0.25em 0;
    width: 10rem;
    font-family: 'Josefin Slab', serif;
}

.mobile-buttons a:hover{
    background-color: #3e2a2a;
}

.mobile-buttons a:active{
    background-color: #211616;
}

.fa-paw{
    margin:0;
}


/* this is for mobile <600px */
@media screen and (max-width: 600px){

    .images{
        padding: 2em 0 3em 0;
        width: 80vw;
        justify-content: space-around;
        order: 1;
    }

    .content{
        flex-direction: column-reverse;
        padding-top: 2em;
    }
    .text{
        width: 80vw;
        font-size: 1.2em;
        order: 3;
        padding: 1em;
        text-align: justify;
    }
    .navigation{
        display: none;
    }
    .header a:nth-child(2){
        text-align: center;
        margin-right: 0;
    }
    .mobile-buttons{
        order: 2;
    }
    .mobile-buttons a:hover{
        background-color: #592967;
    }
    .mobile-buttons a:focus{
        background-color: #3a1a43;
    }
    .footer p{
        margin-left: 1.5em;
    }
}

/* this is for tablet between 601 and 1100px */
@media screen and (max-width: 1100px) and (min-width: 601px) {
    .header{
        flex-direction: column;
        align-items: center;
        padding-top: 1em;
    }
    .header a{
        font-size: 2em;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .navigation{
        display: none;
    }
    .content{
        flex-direction: column;
    }

    .images{
        width: 100%;
        padding: 3em 0;
    }
    .text{
        width: 100%;
        align-self: center;
        padding: 0 1em;
        font-size: 1.5em;
    }

}

/* this is for desktop >1101px */
@media screen and (min-width: 1101px){
    .images{
        width: 30em;
    }
    .mobile-buttons{
        display: none;
    }
}

.images img{
    margin: 0.5em 0.4em;
    width: 7em;
    height: 7em;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 0.5em;
    opacity: 0.8;
}

.navigation{
    align-items: left;
    margin-right: 1em;
}
.navigation a{
    color: #332e33;
    text-decoration: none;
    margin: 0 1.5em 0 0.5em;
    font-size: 1.5em;
}

