{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="login">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ login_form.label_tag }}
                {{ login_form }}
            </div>
            <button class="login-button">Login</button>
        </form>
    </div>
{% endblock %}
