{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta id="request-method" name="request-method" content="{{ method }}">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/edit-pet.css' %}">
{% endblock %}

{% block header %}
<a href="{% url 'index' %}">Petstagram</a>
<a href="{% url 'index' %}"><i class="fa-solid fa-paw"></i></a>
{% endblock %}

{% block content %}
<h1>{{ pet.name }}'s edit page</h1>
<div class="edit-pet-block">
    <div class="upload-photo">
        <p>Change {{ pet.name }}'s profile picture</p>
        <form action="{% url 'pets:edit_pet' pk=pet.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image" id="image">
            <button class="upload-button">Upload</button>
    </div>
    <br>
    <div class="change-pet-details">
        <p>Change {{ pet.name }}'s details</p>
        <a href="{% url 'pets:edit_pet_details' pk=pet.id %}">Change details</a>
    </div>
    <br>
</div>
{% endblock %}
