{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/home-page.css' %}">
{% endblock %}

{% block header %}
<a href="{% url 'common:account_home' %}">Petstagram</a>
<form action="{% url 'common:search' %}" method="get">
    <input type="text" name="q" id="search" placeholder="Search...">
</form>
<a href="{% url 'common:account_home' %}"><i class="fa-solid fa-paw"></i></a>
<a class="profile-link" href="{% url 'common:view_profile' %}">Profile</a>
{% endblock %}

{% block content %}

{% endblock %}
