{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/view-profile.css' %}">
{% endblock %}

{% block header %}
<a href="{% url 'common:account_home' %}">Petstagram</a>
<a href="{% url 'common:account_home' %}"><i class="fa-solid fa-paw"></i></a>
<a href="{% url 'common:view_profile' %}" class="profile-link">Profile</a>
{% endblock %}

{% block content %}
<div class="profile-header">
    <div class="profile-info">
        <div class="image-container">
            <img src="{{ profile_picture }}" alt="">
        </div>
            <a href="{% url 'common:add_profile_picture' %}"><i class="fa-solid fa-camera-retro"></i></a>

        <h1>{{ profile.get_full_name }}</h2>
    </div>
    <div class="profile-header-buttons">
        <a href="#" class="edit-profile-button"><i class="fa-solid fa-pencil"></i> Edit profile</a>
        <a href="{% url 'sign-out' %}" class="logout-button"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
    </div>
</div>
<div class="profile-pets">
    <h2>My Pets</h2>
    <div class="pet-cards">
        
        {% for pet in pets %}
        <div class="pet-card">
            <a href="{% url 'pets:edit_pet' %}"><img src="{{ pet.main_image }}" alt=""></a>
            <h3>{{ pet.name }}</h3>
        </div>
        {% endfor %}
        <div class="add-pet">
            <a href="{% url 'pets:add_pet' %}"><i class="fa-solid fa-plus"></i></a>
            <h3>Add pet</h3>
        </div>
    </div>
</div>
<div class="profile-posts">
    <h2>My Posts</h2>
    <!-- <div class="post-cards">
        {% for post in posts %}
        <div class="post-card">
            <img src="{{ post.image }}" alt="">
            <h3>{{ post.title }}</h3>
        </div>
        {% endfor %}
    </div> -->
</div>
{% endblock %}