@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Slab&family=Pacifico&display=swap');

.content{
    justify-content: center;
    max-height: 30%;
}

.create-user,
.login
.upload-photo{
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
    width: 50%;
}

.form-container{
    margin: 10px;
    width:100%;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    border: 1px solid #fffffa;
    background-color: #fffffa;;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    align-items: center;
    opacity: 0;
    
}

form{
    max-width: 80%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form .form-group label{
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Slab', serif;
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.2em;
    color: #6b4949;
    width: 100%;
}

form .form-group input{
    height: 30px;
    margin-top: 0.5em;
    background-color: #F5F5F5;
    border: 1px solid #6b4949;
    border-radius: 3px;
    color: #6b4949;
    transition: border-color 0.3s;
    padding: 3px;
    width: 100%;
}

form .form-group input:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-text-fill-color: #6b4949;
    -webkit-background-origin: #F5F5F5;
    -webkit-box-shadow: 0 0 0 30px #F5F5F5 inset;
    background-color: #F5F5F5;
}

form .register-button,
form .login-button,
form .upload-button{
    margin: 3em 0 5em 0;
    padding: 1em;
    background-color: #6b4949;
    color: #fffaef;
    width: 10rem;
    border: solid 1px #6b4949;
    border-radius: 5px;
}

form .register-button:hover,
form .login-button:hover,
form .upload-button:hover{
    background-color: #3e2a2a;
}

form .register-button:active,
form .login-button:active,
form .upload-button:active{
    background-color: #211616;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

ul li{
    list-style-type: none;
    color: red;
    font-size: 0.7em;
    text-align: left;
}

textarea{
    width: 100%;
}

@media screen and (min-width: 901px){
    form{
        width: 20rem;
        margin-top: 2em;
    }

    .upload-photo form{
        width: 30rem;
    }
    form .form-group input{
        height: 35px;
    }

    .login,
    .create-user,
    .upload-photo{
        margin-top: 30px;
    }

    form .form-group label{
        width: 30%;
    }
    ul{
        width: 70%;
    }
    ul li{
        font-size: 0.8em;
        text-align: right;
    }
}

@media screen and (max-width: 601px){
    .login,
    .create-user,
    .upload-photo{
        width: 90%;
    }
    /* form{
        max-width: 80%;
    }

    .form-group{
        width: 100%;
    } */
}