@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Slab&family=Pacifico&display=swap');

.create-user,
.login{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e6e6e6;
    background-color: #DDD0DE;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    align-items: center;
    min-height: 30vh;
    width: 100%;
}

form{
    width: 13rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form .form-group label{
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Slab', serif;
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.2em;
    color: #7c388e;
    width: 100%;
}

form .form-group input{
    height: 30px;
    margin-top: 0.5em;
    background-color: #F5F5F5;
    border: 1px solid #7c388e;
    border-radius: 3px;
    color: #7c388e;
    transition: border-color 0.3s;
    padding: 3px;
    width: 100%;
}

form .form-group input:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-text-fill-color: #7c388e;
    -webkit-background-origin: #F5F5F5;
    -webkit-box-shadow: 0 0 0 30px #F5F5F5 inset;
    background-color: #F5F5F5;
}

form .register-button,
form .login-button{
    margin: 1em 0 3em 1rem;
    padding: 1em;
    background-color: #7c388e;
    color: #f5d8f7;
    width: 10rem;
    border: solid 1px #7c388e;
    border-radius: 5px;
}

form .login-button{
    margin-top: 6em;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

ul li{
    list-style-type: none;
    color: red;
    font-size: 0.7em;
    text-align: left;
}



@media screen and (min-width: 601px){
    form{
        width: 20rem;
    }
    form .form-group input{
        height: 35px;
    }
    form .register-button,
    form .login-button{
        margin-top: 4em;
        margin-left: 5rem;
    }

    form .register-button{
        margin-bottom: 2rem;
    }

    form .login-button{
        margin-top: 3em;
    }

    .login{
        margin-top: 30px;
    }

    form .form-group label{
        width: 30%;
    }

    ul{
        width: 70%;
    }

    ul li{
        font-size: 0.8em;
        text-align: right;
    }
}