.header .profile-link{
    font-size: 1.5em;
    padding-right: 2em;
    margin-left: 30%;
}

.header {
    justify-content: stretch;
}

.header form{
    margin-top: 0.5em;
    margin-left: 1em;
    width: 20%;
}
.header form input{
    width: 100%;
    height: 2em;
}