@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Slab&family=Pacifico&display=swap');

.profile-header{
    display: flex;
    width: 100%;
    padding-left: 10%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 220px;
}

.profile-header .profile-info{
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
    /* flex-direction: column; */
    width: 50%;
    align-items: end;
    position: relative;
}

.profile-header .profile-info .image-container{
    width: 30%;
    aspect-ratio: 1/1;
    overflow: hidden;

    border-radius: 50%;
    border: 2px solid white;
}

.profile-header .profile-info .image-container img{
    width: 100%;
    height: auto;
    /* z-index: 0; */
    /* aspect-ratio: 1/1; */
    /* background-color: #f5f5f5; */
    /* border-radius: 50%;
    border: 2px solid white; */
    /* margin-top: 10%; */
}

.profile-header .profile-info h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    width: 60%;
}

.profile-header .profile-info a{
    position: absolute;
    left: 23%;
    top: 80%;
    font-size: 1em;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    border-radius: 50px;
    padding: 0.4em;
}

.profile-header .profile-info .image-container a:hover{
    background-color: gray;
}

.profile-header .profile-header-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    align-items: end;
}

.profile-pets{
    width: 100%;
}

.content{
    border: 1px solid black;
    padding:0;
    margin: 16px;
}